@charset "UTF-8";

.carousel-item {
  height: 30vh;
  min-height: 20px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#under_navbar{
	border-bottom: 1px solid black;
}